body {
  background-color: #eceff1;
}

header {
    background: url("media/main.jpeg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    margin-bottom: 30px;
  }
  
.navlink {
  color: black;
  font-size: 1.5em;
  font-family: "Bebas Neue", sans-serif;
}
  
.caption {
  position: absolute;
  top: 5vh;
  right: 10vw;
}
  
.title {
  font-size: 5em;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
}
  
.subtitle {
  font-family: 'Caveat', cursive;
}

#about img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  float: left;
  padding: 30px;
}

#about video {
  margin-top: 10px;
  width: 420px;
  border-radius: 10px;
}

#about {
  line-height: 1.75;
  font-family: 'Josephin Sans', sans-serif;
  color: #353d47;
}

main h1, h3, h4 {
  font-family: 'Outfit', sans-serif;
  margin-bottom: 35px;
}

main h1, h3 {
  text-transform: capitalize;
  text-align: center;
  color: #2d3236;
}

h4 {
  color: #eceff1;
}

#pictures {
  margin: 30px;
}

footer {
  font-family: 'Josephin Sans', sans-serif;
  font-size: 14px;
}

.btn-floating {
  margin-right: 8px;
}

@media screen and (max-width: 780px) {
  header {
    height: 75vh;
  }
  .title {
    font-size: 3.75em;
  }
  .subtitle {
    font-size: 2.5em;
  }
  h1 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 501px) {
  header {
    height: 50vh;
  }
  #about video {
    width: 300px;
  }
  .title {
    font-size: 2.75em;
  }
  .subtitle {
    font-size: 2em;
  }
  h1 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1.5em;
  }
}